*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-image: url('/img/7263714.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.brand-navigation {
    background-color:transparent;
    display: flex;
    justify-content: center;
  }
  
  .content {
    width: 960px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navigation {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
  }
  
  .navigation a {
    text-decoration: none;
    padding: 3.5em;
    color: #dbdbe2;
  }
  
  .logo-nav {
    height: 60px;
    width: 60px;
    margin-top: 10px;
    position: absolute;
    left: 10px;
  }
  

  .navigation li a:hover{
    color: palevioletred;
    text-decoration: underline;
    font-weight: bolder;
  }



  .container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  #heading{
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    color: rgb(206, 218, 45);
  }

  #para{
    color: white;
    font-size: 20px;
  }

  .bi{
    color: white;
  }

  .bi-cart{
    position: absolute;
    right: 100;
  }


  .bi-search-heart-fill{
    position: absolute;
    right: 64;
  }


  .bi-list{
    position: absolute;
    right: 40;
  }


 .nb{
    margin-left: 100px;
    padding: 20px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 40px;
 }
.nba{
    margin-left: 450px;
    padding: 20px;
    background-color: transparent;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 40px;
}

.nb:hover{
    background-color: palevioletred;
}

.nba:hover{
    background-color: palevioletred;
}




footer{
    width: 100vw;
    height: 40px;
    background-color: whitesmoke;
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 30px;
}